
*.jar
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/go_domains
*.txt
*.log
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
*.png
*.tsv
*.mgf
*.fasta
*.fasta
*.exe
*.xml
*.dll
*.tif
*.asv
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/ensembl_versions
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/proxy/empty
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_biomart
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_species
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_biomart
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_species
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/uniprot_taxonomy
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/data/qExactive01819.mgf.cui
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/data/uniprot-human-reviewed-trypsin-july-2019_concatenated_target_decoy.fasta.cui
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/HeLa Example.cpsx
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/peptide-shaker.ico
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/Andromeda.exe.config
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/a225672418/peptides.ind
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/tutorial new test.apar
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/ver
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/default_SearchGUI.parameters
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/ensembl_versions
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/go_domains
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_biomart
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_species
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_biomart
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_species
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/uniprot_taxonomy
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.EDAL.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/directag_intensity_ranksum_bins.cache
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/BaseDataAccess.dll.config
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.EDAL.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/BaseDataAccess.dll.config
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.EDAL.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.HSREADWRITELib.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Novor/README
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/dta_merge_OMSSA.pl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/OMSSA.pm
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/readOMSSA.pl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/msmzhits2csv.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pepcsv4fasts.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pephits2csv.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/peptides2csv.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/OMSSA.xsd
@LESAProteomics/identification/SearchGUI-3.3.20/resources/searchgui.ico
