
*.jar
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/go_domains
*.txt
*.log
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
*.png
*.tsv
*.mgf
*.fasta
*.fasta
*.exe
*.xml
*.dll
*.tif
*.asv
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/ensembl_versions
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/proxy/empty
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_biomart
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_species
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_biomart
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_species
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/uniprot_taxonomy
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/data/qExactive01819.mgf.cui
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/data/uniprot-human-reviewed-trypsin-july-2019_concatenated_target_decoy.fasta.cui
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/HeLa Example.cpsx
@LESAProteomics/identification/PeptideShaker-1.16.45/resources/peptide-shaker.ico
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/Andromeda.exe.config
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/a225672418/peptides.ind
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/tutorial new test.apar
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/ver
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/default_SearchGUI.parameters
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/ensembl_versions
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/go_domains
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_biomart
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_species
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_biomart
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_species
@LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/uniprot_taxonomy
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.EDAL.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/directag_intensity_ranksum_bins.cache
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/BaseDataAccess.dll.config
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.EDAL.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/BaseDataAccess.dll.config
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MHDAC
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MSFileReader
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.EDAL.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.HSREADWRITELib.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
@LESAProteomics/identification/SearchGUI-3.3.20/resources/Novor/README
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/dta_merge_OMSSA.pl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/OMSSA.pm
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/readOMSSA.pl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/msmzhits2csv.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pepcsv4fasts.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pephits2csv.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/peptides2csv.xsl
@LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/OMSSA.xsd
@LESAProteomics/identification/SearchGUI-3.3.20/resources/searchgui.ico
*.par
identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/ensembl_versions
identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/go_domains
identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
identification/PeptideShaker-1.16.45/resources/conf/proxy/empty
identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_biomart
identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_species
identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_biomart
identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_species
identification/PeptideShaker-1.16.45/resources/conf/taxonomy/uniprot_taxonomy
identification/PeptideShaker-1.16.45/resources/example_dataset/data/qExactive01819.mgf.cui
identification/PeptideShaker-1.16.45/resources/example_dataset/data/uniprot-human-reviewed-trypsin-july-2019_concatenated_target_decoy.fasta.cui
identification/PeptideShaker-1.16.45/resources/example_dataset/HeLa Example.cpsx
identification/PeptideShaker-1.16.45/resources/peptide-shaker.ico
identification/SearchGUI-3.3.20/BSA.fasta.cui
identification/SearchGUI-3.3.20/resources/Andromeda/windows/Andromeda.exe.config
identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/a225672418/peptides.ind
identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/tutorial new test.apar
identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/ver
identification/SearchGUI-3.3.20/resources/conf/default_SearchGUI.parameters
identification/SearchGUI-3.3.20/resources/conf/gene_mappings/ensembl_versions
identification/SearchGUI-3.3.20/resources/conf/gene_mappings/go_domains
identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_biomart
identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_species
identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_biomart
identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_species
identification/SearchGUI-3.3.20/resources/conf/taxonomy/uniprot_taxonomy
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MHDAC
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MSFileReader
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.EDAL.SxS.manifest
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/directag_intensity_ranksum_bins.cache
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MHDAC
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MSFileReader
identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/BaseDataAccess.dll.config
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MHDAC
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MSFileReader
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.EDAL.SxS.manifest
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/BaseDataAccess.dll.config
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MHDAC
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MSFileReader
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.EDAL.SxS.manifest
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.HSREADWRITELib.SxS.manifest
identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
identification/SearchGUI-3.3.20/resources/Novor/README
identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/dta_merge_OMSSA.pl
identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/OMSSA.pm
identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/readOMSSA.pl
identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/msmzhits2csv.xsl
identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pepcsv4fasts.xsl
identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pephits2csv.xsl
identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/peptides2csv.xsl
identification/SearchGUI-3.3.20/resources/OMSSA/windows/OMSSA.xsd
identification/SearchGUI-3.3.20/resources/searchgui.ico
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/ensembl_versions
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/go_domains
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/proxy/empty
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_biomart
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl-genome_species
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_biomart
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/ensembl_species
LESAProteomics/identification/PeptideShaker-1.16.45/resources/conf/taxonomy/uniprot_taxonomy
LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/data/qExactive01819.mgf.cui
LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/data/uniprot-human-reviewed-trypsin-july-2019_concatenated_target_decoy.fasta.cui
LESAProteomics/identification/PeptideShaker-1.16.45/resources/example_dataset/HeLa Example.cpsx
LESAProteomics/identification/PeptideShaker-1.16.45/resources/peptide-shaker.ico
LESAProteomics/identification/SearchGUI-3.3.20/BSA.fasta.cui
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MHDAC
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/uniprot_taxonomy
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_species
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl_biomart
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_species
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/taxonomy/ensembl-genome_biomart
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_go_mappings
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/sscrofa_gene_ensembl_gene_mappings
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_go_mappings
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/hsapiens_gene_ensembl_gene_mappings
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/go_domains
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/gene_mappings/ensembl_versions
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.EDAL.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MSFileReader
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/EULA.MHDAC
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/BaseDataAccess.dll.config
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MSFileReader
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/EULA.MHDAC
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_64bit/directag_intensity_ranksum_bins.cache
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/Interop.EDAL.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/DirecTag/windows/windows_32bit/EULA.MSFileReader
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/readOMSSA.pl
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/OMSSA.pm
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/perl/dta_merge_OMSSA.pl
LESAProteomics/identification/SearchGUI-3.3.20/resources/Novor/README
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/MSFileReader.XRawfile2.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.HSREADWRITELib.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/Interop.EDAL.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MSFileReader
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/EULA.MHDAC
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_64bit/BaseDataAccess.dll.config
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/MSFileReader.XRawfile2.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/MyriMatch/windows/windows_32bit/Interop.HSREADWRITELib.SxS.manifest
LESAProteomics/identification/SearchGUI-3.3.20/resources/searchgui.ico
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/OMSSA.xsd
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/peptides2csv.xsl
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pephits2csv.xsl
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/pepcsv4fasts.xsl
LESAProteomics/identification/SearchGUI-3.3.20/resources/OMSSA/windows/contrib/xslt/msmzhits2csv.xsl
LESAProteomics/identification/SearchGUI-3.3.20/resources/conf/default_SearchGUI.parameters
LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/ver
LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/tutorial new test.apar
LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/temp/a225672418/peptides.ind
LESAProteomics/identification/SearchGUI-3.3.20/resources/Andromeda/windows/Andromeda.exe.config
*.html
*.zip
*.omx
*.mzid
*.psq
*.pin
*.phr
*.cseq
*.csarr
*.cnlcp
*.canno
*.cpsx
*.cui
*.dat
LESAProteomics/identification/PeptideShaker-1.16.45/resources/matches/experiment
LESAProteomics/identification/PeptideShaker-1.16.45/resources/matches/A__B__1_id/service.properties
LESAProteomics/identification/PeptideShaker-1.16.45/resources/matches/A__B__1_id/log/logmirror.ctrl
LESAProteomics/identification/PeptideShaker-1.16.45/resources/matches/A__B__1_id/log/log.ctrl
LESAProteomics/identification/PeptideShaker-1.16.45/resources/matches/A__B__1_id/db.lck
*.mzXML
*.mat
